*.jsbundle
*.tsbuildinfo
.DS_Store
.history
.jest
.vscode
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vs/
yarn.lock

android/build
android/app/build
android/.gradle
android/.idea
android/theoplayer/build
android/theoplayer/theoplayer.aar
*.iml

ios/THEOplayerSDK.framework
ios/GoogleCast.framework
ios/TheoPlayerReactNativeTests
ios/TheoPlayerReactNative-tvOSTests
ios/TheoPlayerReactNative-tvOS
ios/Pods
Podfile.lock